<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

        <context:component-scan base-package="com.clockworkjava"/>

        <import resource="classpath:config/castle-config.xml"/>

        <bean id="quest" class="com.clockworkjava.kursspring.domain.Quest"/>

        <bean id="knight" class="com.clockworkjava.kursspring.domain.Knight">
            <constructor-arg index="0" value="Lancelot"/>
            <constructor-arg index="1" value="29"/>
            <property name="quest" ref="quest"/>
        </bean>


</beans>