<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Knight</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">

    <form class="form-horizontal"
          th:object="${knight}"
          th:action="@{/assignQuest}"
          th:method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{name}">
        <input type="hidden" th:field="*{age}">
        <input type="hidden" th:field="*{level}">

        <div class="form-group">
            <label class="control-label">Wykonaj zadanie</label>
            <select th:field="*{quest}">
                <option th:each="quest : ${notStartedQuests}"
                        th:value="${quest.id}"
                        th:text="${quest.description}"></option>
            </select>

        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Wyslij rycerza</button>
        </div>
    </form>
</div>
</body>
</html>