<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Knight list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <td>Imie rycerza</td>
                <td>Poziom</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="knight : ${knights}">
                <td th:text="${knight.name}"></td>
                <td th:text="${knight.level}"></td>
                <td><a th:href="${'/knight?id='+knight.id}">Podglad</a></td>
                <td><a th:href="${'/knight/delete/'+knight.id}">Usun</a></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <a href="/newknight">Zrekrutuj nowego rycerza</a>
    </div>
</div>
</body>
</html>